.news-style {
  background: cadetblue;
  width: 150px;
  font-family: "Berlin Sans FB Demi";
  font-size: 25px;
  padding: 15px;
  margin: 10px;
  border: black 5px;
}

button {
  background: antiquewhite;
  color: #000000;
  padding: 15px;
  height: 15px;
}

